<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <a class="navbar-brand" href="/images">Chemises dragon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/images">Chemises <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videos">Vidéos</a>
      </li>
    </ul>
  </div>
</nav>